package main

import "github.com/tvaintrob/heroicons-templ/solid/24"

templ ExamplePage() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			<h1>Hero icons example</h1>
			<main>
				<div>
					@solid24.HeartIcon(templ.Attributes{})
				</div>
			</main>
		</body>
	</html>
}
