package solid16

templ StopIcon(attrs templ.Attributes) {
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 16 16"
    class="w-4 h-4"
    { attrs... }
  >
    <rect x="3" y="3" width="10" height="10" rx="1.5"></rect>
  </svg>
}
	