package outline24

templ PauseIcon(attrs templ.Attributes) {
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 24 24"
    class="w-6 h-6"
    { attrs... }
  >
    <path d="M15.75 5.25L15.75 18.75M8.25 5.25V18.75" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
}
	