package outline24

templ PlusSmallIcon(attrs templ.Attributes) {
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 24 24"
    class="w-6 h-6"
    { attrs... }
  >
    <path d="M12 6V18M18 12L6 12" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
}
	